@model Portal.Models.Student

@{
    ViewBag.Title = "Details";
}

@section LogoAndHeader
{
    @Html.Partial("~/Views/Shared/PartialViews/_MainHeaderPartial.cshtml")
}



@section SideMenu
{
    @Html.Partial("~/Views/Shared/PartialViews/_MenuAdminPartial.cshtml")
}

<div class="mainy">
    <!-- Page title -->
    <div class="page-title">
        <h2><i class="fa fa-desktop color"></i> Dashboard <small>@Html.ActionLink("Create New", "Create")</small></h2>
        <hr>
    </div>
    <!-- Page title -->

    <div class="row">

        <div class="col-md-12">
            <div class="awidget full-width">
                <div class="awidget-head">
                    <h3>@Html.DisplayFor(model => model.FName) Profile Details</h3>
                </div>
                <div class="awidget-body">
                    <div>
                        <h4>Student</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Section.SectionName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Section.SectionName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.RegistrationNumber)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RegistrationNumber)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AddedDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AddedDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ModifiedDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ModifiedDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Status)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FatherName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FatherName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CNIC)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CNIC)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UserName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Address)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateOfBirth)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MobileNumber)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MobileNumber)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LandlineNumber)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LandlineNumber)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Gender)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Gender)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Age)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Age)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Password)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Password)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
