<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@ViewBag.Title</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/frontend/globalcss")
    @Styles.Render("~/Content/frontend/plugincss")
    @Styles.Render("~/Content/frontend/stylescss")
    @Scripts.Render("~/bundles/frontend/jquery")
</head>

<body class="home-page">
    <div class="wrapper">
        <!-- ******HEADER****** -->
        <header class="header">
            <!--//to-bar-->
            <div class="header-main container">
                <h1 class="logo col-md-4 col-sm-4">
                    <a href="index-2.html">
                        <img id="logo" src="~/Content/FrontEnd/images/logo.png" alt="Logo"></a>
                </h1>
                <!--//logo-->
                <div class="info col-md-8 col-sm-8">
                    <ul class="menu-top navbar-right hidden-xs">
                        <li class="divider"><a href="@Url.Action("index","Home")">Home</a></li>
                        <li class="divider"><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                        <li class="divider">@Html.ActionLink("Contact", "index", "Contact")</li>
                        <li class="divider"><a href="@Url.Action("Index", "Home", new { area = "AdminPanel"})">Student Portal</a></li>
@*                        <li>@Html.Action("Login","Account", new { area = "AdminPanel"})</li>*@
                    </ul>
                    <!--//menu-top-->
                    <br>
                    <div class="contact pull-right">
                        <p class="phone"><i class="fa fa-phone"></i>Call us today 0800 123 4567</p>
                        <p class="email"><i class="fa fa-envelope"></i><a href="#">enquires@website.com</a></p>
                    </div>
                    <!--//contact-->
                </div>
                <!--//info-->
            </div>
            <!--//header-main-->
        </header>
        <!--//header-->

        <!-- ******NAV****** -->
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/PartialViews/menu.cshtml")
        <!--//main-nav-->

        <!-- ******CONTENT****** -->
        <div class="content container">
            @RenderBody()
            <!--//page-content-->
            <!--//page-->
        </div>
        <!--//content-->
    </div>
    <!--//wrapper-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-3 col-sm-4 about">
                        <div class="footer-col-inner">
                            <h3>About</h3>
                            <ul>
                                <li><a href="about.html"><i class="fa fa-caret-right"></i>About us</a></li>
                                <li><a href="contact.html"><i class="fa fa-caret-right"></i>Contact us</a></li>
                                <li><a href="privacy.html"><i class="fa fa-caret-right"></i>Privacy policy</a></li>
                                <li><a href="terms-and-conditions.html"><i class="fa fa-caret-right"></i>Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <!--//footer-col-inner-->
                    </div>
                    <!--//foooter-col-->
                    <div class="footer-col col-md-6 col-sm-8 newsletter">
                        <div class="footer-col-inner">
                            <h3>Join our mailing list</h3>
                            <p>Subscribe to get our weekly newsletter delivered directly to your inbox</p>
                            <form class="subscribe-form">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter your email">
                                </div>
                                <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
                            </form>

                        </div>
                        <!--//footer-col-inner-->
                    </div>
                    <!--//foooter-col-->
                    <div class="footer-col col-md-3 col-sm-12 contact">
                        <div class="footer-col-inner">
                            <h3>Contact us</h3>
                            <div class="row">
                                <p class="adr clearfix col-md-12 col-sm-4">
                                    <i class="fa fa-map-marker pull-left"></i>
                                    <span class="adr-group pull-left">
                                        <span class="street-address">College Green</span><br>
                                        <span class="region">56 College Green Road</span><br>
                                        <span class="postal-code">BS16 AP18</span><br>
                                        <span class="country-name">UK</span>
                                    </span>
                                </p>
                                <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>0800 123 4567</p>
                                <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="#">enquires@website.com</a></p>
                            </div>
                        </div>
                        <!--//footer-col-inner-->
                    </div>
                    <!--//foooter-col-->
                </div>
            </div>
        </div>
        <!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright 2014 College Green Online | Website template by <a href="#">3rd Wave Media</a></small>
                    <!--//social-->
                    @Html.Partial("~/Areas/FrontEnd/Views/Shared/PartialViews/SocialNetworks.cshtml")
                </div>
                <!--//row-->
            </div>
            <!--//container-->
        </div>
        <!--//bottom-bar-->
    </footer>
    <!--//footer-->
@Scripts.Render("~/bundles/frontend/scripts")
    <div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 5px; opacity: 1; cursor: pointer;">
        <i class="fa fa-angle-up"></i>
    </div>
</body>
</html>